@import '~bootstrap/scss/bootstrap';
@import "~slick-carousel/slick/slick.css";
@import "swiper/css/bundle";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import '../../public/assets/scss/main.scss';

.zoomImage div >  div + div {
    background: #F5F6F8;
    z-index: 100000 !important;
    /* position: relative !important; */
    height: 100% !important;
    width: 100% !important;
}
.tp-postbox-details-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}