@import '~bootstrap/scss/bootstrap';
@import "~slick-carousel/slick/slick.css";
@import "swiper/css/bundle";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import '../../public/assets/scss/main.scss';

.zoomImage div+div {
    background: #2196F3;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
    /* position: relative !important; */
    height: 800px !important;
}
.tp-postbox-details-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
}